@media (max-width: 1050px) {
  header {  
    height: 150px;
  }  
  
  li  {
    font-size: 50px;
    }
   .prof-main {
        display: flex;
        flex-wrap: wrap;
        }
    
    
    .prof-icon {
        width: 100%;
    }
    
    .prof-text {
        width: 90%;
        text-align: left;  
        font-size: 50px;  
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
    }
    .skill{
        width: 100%;
      }
    
    .skill-wrapper {
        text-align: center;
      }

    .skill-icon p {
        font-size: 50px;
      }

    .skill-contents {
        font-size: 40px;
      }

    .fab {
        font-size: 250px;
      }  

      footer p {
        font-size: 50px;
      } 

      footer {
        height: 100px;
      }
}

@media (max-width: 670px) {
    .prof-icon {
        width: 100%;
    }
    
    .prof-text  p {
        width: 90%;
        float: left;
        text-align: left; 
    }

    .skill{
        width: 100%;
      }

    .skill-wrapper {
        text-align: center;
      }

}