@media (max-width: 1050px) {
  header {
    height: 150px;
  }

  li {
    font-size: 50px;
  }

  .top-wrapper h1 {
    font-size: 90px;
    letter-spacing: 10px;
  }

  .twitter {
    width: 90px;
    height: 90px;
  }

  .prof-main {
    display: flex;
    flex-wrap: wrap;
  }

  .prof-wrapper {
    margin: 0 top;
  }

  .prof-wrapper h2 {
    font-size: 80px;
  }

  .prof-icon {
    width: 100%;
  }

  .prof-text {
    width: 90%;
    text-align: left;
    font-size: 30px;
  }

  .skill-wrapper h3 {
    font-size: 80px;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    width: 100%;
  }

  .skill-wrapper {
    text-align: center;
  }

  .skill-icon p {
    font-size: 50px;
  }

  .skill-contents {
    font-size: 50px;
  }

  .fab {
    font-size: 250px;
  }

  footer p {
    font-size: 40px;
    padding-top: 15px;
  }

  footer {
    height: 100px;
  }
}

@media (max-width: 670px) {
  .prof-icon {
    width: 100%;
  }

  .prof-text p {
    width: 90%;
    float: left;
    text-align: left;
  }

  .skill {
    width: 100%;
  }

  .skill-wrapper {
    text-align: center;
  }
}
