body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }


li  {
  list-style: none;
  padding: 70px 50px;
  font-size: 30px;
  float: left;
}

  .container {
      width: 100%;
      margin: 0 auto;
  }

  .top-wrapper {
    text-align: center;
    margin: 150px 0px 30px 0;
  }

  .top-wrapper h1{
    font-size: 60px;
    margin-bottom: 100px;
    letter-spacing: 10px;
  }

  .twitter {
    margin-right: 20px;
  }

  header {
    height: 182px;  
    background-color: #4597F5;
    text-align: center;
  }
  
  .prof-wrapper {
    height: 845px;
    margin-top: 150px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #CEE0F5;
  }

  .prof-wrapper h1 {
    font-size: 37px;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .prof-icon {
    padding-top: 150px;
    padding-left: 200px;
    float: left;
  }
  
  .prof-text p {
      float: right;
      width: 500px;
      padding-top: 100px;
      margin-right: 100px;
      background-color: azure;
      height: 500px;
  }

  .skill-wrapper {
    height: 800px;
    text-align: center;
  }
  
  .skill-wrapper h1 {
    font-size: 37px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  
  
  .skill{
    float: left;
    width: 33%;
  }

  footer {
    height: 166px;
    background-color: #4597F5;
    text-align: center;
  }

  footer h1{
    padding-top: 60px;
  }