html {
  box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  } 

.clear {
    clear: left;
}  

header {  
  background-color: #4597F5;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
}

li  {
  list-style: none;
  padding: 10px 30px;
  font-size: 30px;
  float: left;
  }

li a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.container {
      width: 100%;
      margin: 0 auto;
  } 

.top-wrapper {
    text-align: center;
    /* background-color: #db2626; */
    padding-top: 180px;
  }

.top-wrapper h1{
    font-size: 60px;
    letter-spacing: 10px;
  }

.twitter {
    padding-right: 40px;
  }

.prof-wrapper {
    text-align: center;
    background-color: #CEE0F5;
  }
  
.prof-wrapper h2 {
    font-size: 50px;
    padding-top: 100px;
  }

.prof-main {
  display: flex;
  }

.prof-icon {
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    width: 50%;
  }
  
.prof-photo {
    border-radius: 30%;
  }

.prof-text {
      width: 45%;
      margin-top: 30px;
      text-align: left;
      font-size: 25px;
      padding: 0 25px 0 25px;    
      margin-bottom: 100px;
  } 

.contact {
  margin-bottom: 50px;
}


.skill-wrapper {
    padding-top: 30px;
    text-align: center;
    /* background-color: #db2626; */
  }

.skill-wrapper h3 { 
    font-size: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
  } 

.skills {
  display: flex;
}

.skill {
    width: 33%;
    font-size: 30px;
  }

.skill-icon p {
  font-size: 30px;
  margin-bottom: 10px;
}

.skill-contents {
  display: inline-block;
  width: 90%;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.fab {
  font-size: 150px;
}  

footer {
    height: 60px;
    background-color: #4597F5;
    text-align: center;
  }

footer p {
    font-size: 40px;
  } 