html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* しまぶーさんおすすめフォント */
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

.clear {
  clear: left;
}

header {
  background-color: #4597f5;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
}

li {
  list-style: none;
  padding: 10px 30px;
  font-size: 30px;
  float: left;
}

li a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.top-wrapper {
  text-align: center;
  /* background-color: #db2626; */
  padding-top: 250px;
  padding-bottom: 300px;
}

.top-wrapper h1 {
  font-size: 60px;
  letter-spacing: 10px;
}

.twitter {
  margin-right: 40px;
  text-decoration: none;
}

.prof-wrapper {
  text-align: center;
  background-color: #cee0f5;
}

.prof-wrapper h2 {
  font-size: 50px;
  padding-top: 100px;
}

.prof-main {
  display: flex;
}

.prof-icon {
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  width: 50%;
}

.prof-photo {
  border-radius: 30%;
}

.prof-text {
  width: 45%;
  margin-top: 30px;
  text-align: left;
  font-size: 25px;
  padding: 0 25px 0 25px;
  margin-bottom: 100px;
}

.skill-wrapper {
  padding-top: 150px;
  text-align: center;
  /* background-color: #db2626; */
}

.skill-wrapper h3 {
  font-size: 50px;
  margin-top: 100px;
  padding-bottom: 50px;
}

.skills {
  display: flex;
}

.skill {
  width: 50%;
  font-size: 30px;
}

.skill-icon p {
  font-size: 30px;
  margin-bottom: 10px;
}

.skill-contents {
  display: inline-block;
  width: 60%;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: left;
}

.fab {
  font-size: 150px;
}

footer {
  height: 60px;
  background-color: #4597f5;
  text-align: center;
}

footer p {
  font-size: 30px;
}

#TOP {
  margin-top: -150px;
  padding-top: 150px;
}

#PROFILE {
  margin-top: -150px;
  padding-top: 150px;
}

#SKILL {
  margin-top: -150px;
  padding-top: 150px;
}
