html {
  box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }

.clear {
    clear: left;
}  

li  {
  list-style: none;
  padding: 10px 30px;
  font-size: 30px;
  float: left;
  }

li a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.container {
      width: 100%;
      margin: 0 auto;
  }

.top-wrapper {
    text-align: center;
    margin: 150px 0px 30px 0;
  }

.top-wrapper h1{
    font-size: 60px;
    padding-top: 150px;
    letter-spacing: 10px;
  }

.twitter {
    margin-right: 20px;
  }

header {
    height: 100px;  
    background-color: #4597F5;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
.prof-wrapper {
    height: 845px;
    margin-top: 150px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #CEE0F5;
  }
  
.prof-wrapper h1 {
    font-size: 37px;
    padding-top: 50px;
    margin-bottom: 30px;
  }

.prof-icon {
    padding-top: 50px;
    float: left;
    width: 50%;
  }
  
.prof-photo {
    text-align: center;
    margin-top: 90px;
    border-radius: 45%;
  }

.prof-text p {
      float: right;
      width: 45%;
      margin-top: 50px;
      text-align: left;
      font-size: 25px;
      padding-right: 25px;
  }

.skill-wrapper {
    height: 600px;
    text-align: center;
  }
   
.skill-wrapper h1 {
    font-size: 37px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.skill {
    float: left;
    width: 33%;
    font-size: 20px;
  }
.skill-icon {
  margin-bottom: 10px;
}

.skill-icon p {
  font-size: 30px;
}

.fab {
  font-size: 150px;
} 

footer {
    height: 166px;
    background-color: #4597F5;
    text-align: center;
  }

footer h1{
    padding-top: 60px;
  }